
.filters-sidebar{

    width:320px;

    flex-shrink:0;

}

/* ===============================
FILTER CARD
================================ */

.filters-card{

    margin-top:18px;

    border:1px solid #e5e5e5;

    border-radius:8px;

    background:#fff;

    overflow:hidden;

}

/* ===============================
HEADER
================================ */

.filters-header{

    padding:20px;

    border-bottom:1px solid #ececec;

}

.filters-header h3{

    font-size:28px;

    font-weight:700;

    color:#353543;

    margin-bottom:6px;

}

.filters-header span{

    color:#8b8ba3;

    font-size:16px;

}

/* ===============================
FILTER ROW
================================ */

.filter-item{

    height:62px;

    padding:0 20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    border-bottom:1px solid #efefef;

    cursor:pointer;

    transition:.2s;

}

.filter-item:hover{

    background:#fafafa;

}

.filter-item span{

    font-size:20px;

    color:#353543;

}

.filter-item i{

    font-size:18px;

    color:#555;

}