/* Policy section styles */

.policy {
    max-width: 100%;
    padding: 12px;
    background-color: rgb(253, 238, 250);
}

.child-box {
    border: 1px solid rgba(220, 148, 208, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    background: white;
}

.child-boxs {
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    display: flex;
    text-align: center;
    margin-right: 32px;
    margin-left: 32px;
}

.child-boxs img {
    height: 20px;
    width: 20px;
    padding: 0px 10px 0px 10px;
}

.policy-line {
    height: 15px;
    width: 1px;
    background-color: rgba(220, 148, 208, 0.5);
}